@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_layout_admin.cshtml";
    ViewData["page"] = "Product";



}

<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!-- title -->
                <div class="d-md-flex">
                    <div>
                        <h4 class="card-title">Top Selling Products</h4>
                        <h5 class="card-subtitle">Overview of Top Selling Items</h5>
                        <a class='btn btn-primary' asp-action="ProductCreate">Create</a>
                    </div>
                </div>
                <!-- title -->
            </div>
            <div class="table-responsive">
                <table class="table v-middle">
                    <thead>
                        <tr class="bg-light">
                            <th class="border-top-0">Product Name</th>
                            <th class="border-top-0">Product Remaining</th>
                            <th class="border-top-0">Product Price</th>
                            <th class="border-top-0">Supplier</th>
                            <th class="border-top-0">Category</th>
                            <th class="border-top-0">CreateAt</th>
                            <th class="border-top-0">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in ViewBag.Products)
                        {
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="m-r-10">
                                            <a class="btn btn-circle d-flex btn-info text-white"><img src=/store-image/@product.Image /></a>
                                        </div>
                                        <div class="">
                                            <h4 class="m-b-0 font-16">@product.Name</h4>
                                        </div>
                                    </div>
                                </td>
                                <td>@product.ToTalRemaining</td>
                                <td>@product.CurrentPrice</td>
                                <td>@product.Supplier.Name</td>
                                <td>
                                    @foreach (var productCategory in product.ProductCategories)
                                    {
                                        <li>@productCategory.Category.Name</li>
                                    }
                                </td>
                                <td>@product.CreateAt</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            Menu
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li><a class="dropdown-item" asp-action='ProductUpdate' asp-route-id='@product.Id'>Update</a></li>
                                            <li><a class="dropdown-item" asp-action='ProductImageDetail' asp-route-Id='@product.Id'>Update Image Detail</a></li>
                                            <li><a class="dropdown-item" asp-action='ProductCategoryDetail' asp-route-Id='@product.Id'>Update Category Detail</a></li>
                                            <li><a class="dropdown-item" asp-action='ProductDelete' asp-route-Id='@product.Id'>Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <paging total-records="Model.TotalRecords" page-no="Model.PageIndex"
                    max-displayed-pages="5"
                    page-size="Model.PageSize"
                    page-size-dropdown-items="5-15-30"
                    show-total-pages="false"
                    show-page-size-nav="false"
                    show-total-records="false"
                    class="float-right">
            </paging>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Table -->
