<!-- Hero Section Begin -->
@{
    ViewData["Title"] = "Home";
}
@model Ogani.ViewModel.PagedResultBase
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All departments</span>
                    </div>
                    <ul>
                        @foreach (var ct in ViewBag.Categories)
                        {
                            <li><a href="/Home/ShoppingGrid/?categoryId=@ct.Id">@ct.Name</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form>
                            <input type="text" placeholder="What do yo u need?" asp-for='Keyword' />
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>
                                +84 0987654321
                            </h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
                <div class="hero__item set-bg" data-setbg="img/hero/banner.jpg">
                    <div class="hero__text">
                        <span>FRUIT FRESH</span>
                        <h2>Vegetable <br />100% Organic</h2>
                        <p>Free Pickup and Delivery Available</p>
                        <a href="#" class="primary-btn">SHOP NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->
<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                <div class="col-lg-3">
                    <div class="categories__item set-bg"
                         data-setbg="img/categories/cat-1.jpg">
                        <h5><a href="#">Fresh Fruit</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg"
                         data-setbg="img/categories/cat-2.jpg">
                        <h5><a href="#">Dried Fruit</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg"
                         data-setbg="img/categories/cat-3.jpg">
                        <h5><a href="#">Vegetables</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg"
                         data-setbg="img/categories/cat-4.jpg">
                        <h5><a href="#">drink fruits</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg"
                         data-setbg="img/categories/cat-5.jpg">
                        <h5><a href="#">Meat</a></h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->
<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Featured Product</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        @{
                            string check = string.IsNullOrEmpty(@Context.Request.Query["categoryId"]) ? "active" : "";
                        }
                        <li class="@check"><a href='/'>All</a></li>
                        @foreach (var ct in ViewBag.Categories)
                        {

                            if (!string.IsNullOrEmpty(Context.Request.Query["categoryId"]))
                            {
                                var activeClass = new Guid(@Context.Request.Query["categoryId"]).Equals(ct.Id) ? "active" : "";
                                <li class="@activeClass"><a href="?categoryId=@ct.Id">@ct.Name</a></li>
                            }
                            else
                            {
                                <li><a href="?categoryId=@ct.Id">@ct.Name</a></li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter">
            @{
                foreach (var feature in ViewBag.Feature)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                        <div class="featured__item">
                            <div class="featured__item__pic set-bg"
                             data-setbg="/store-image/@feature.Image">
                                <ul class="featured__item__pic__hover">
                                    <li>
                                        <a href="#"><i class="fa fa-heart"></i></a>
                                    </li>
                                    <li>
                                        <a asp-action="ShopDetail" asp-route-Id="@feature.Id">
                                            <i class="fa fa-retweet"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action='AddToCart' asp-route-productId="@feature.Id"><i class="fa fa-shopping-cart"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="featured__item__text">
                                <h6><a href="#">@feature.Name</a></h6>
                                <h5>$@feature.CurrentPrice</h5>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <paging total-records="Model.TotalRecords"
                page-no="Model.PageIndex"
                max-displayed-pages="5"
                page-size="Model.PageSize"
                page-size-dropdown-items="5-15-30"
                show-total-pages="false"
                show-page-size-nav="false"
                show-total-records="false"
                class="float-right mb-2">
        </paging>
    </div>
</section>
<!-- Featured Section End -->
<!-- Banner Begin -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="img/banner/banner-1.jpg" alt="" />
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="img/banner/banner-2.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->
<!-- Latest Product Section Begin -->
<section class="latest-product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Latest Products</h4>
                    <div class="latest-product__slider owl-carousel">
                        @foreach (var later in ViewBag.latestProduct)
                        {
                            <div class="latest-prdouct__slider__item">
                                @foreach (var p in later)
                                {
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img style='width:120px' src="/store-image/@p.Image" alt="" />
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>@p.Name</h6>
                                            <span>$@p.CurrentPrice</span>
                                        </div>
                                    </a>

                                }
                            </div>

                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Top Rated Products</h4>
                    <div class="latest-product__slider owl-carousel">
                        @foreach (var later in ViewBag.ratedProduct)
                        {
                            <div class="latest-prdouct__slider__item">
                                @foreach (var p in later)
                                {
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img style='width:120px' src="/store-image/@p.Image" alt="" />
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>@p.Name</h6>
                                            <span>$@p.CurrentPrice</span>
                                        </div>
                                    </a>

                                }
                            </div>

                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="latest-product__text">
                    <h4>Favorite Products</h4>
                    <div class="latest-product__slider owl-carousel">
                        @foreach (var later in ViewBag.favoritedProduct)
                        {
                            <div class="latest-prdouct__slider__item">
                                @foreach (var p in later)
                                {
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img style='width:120px' src="/store-image/@p.Image" alt="" />
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>@p.Name</h6>
                                            <span>$@p.CurrentPrice</span>
                                        </div>
                                    </a>

                                }
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Latest Product Section End -->
<!-- Blog Section Begin -->
<section class="from-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title from-blog__title">
                    <h2>From The Blog</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var blog in ViewBag.blogRecent)
            {
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="/store-image/@blog.Image" alt="" />
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> @blog.CreateAt</li>
                                @* <li><i class="fa fa-comment-o"></i> 5</li>*@
                            </ul>
                            <h5><a asp-action='BlogDetail' asp-route-Id="@blog.Id">@blog.Title</a></h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- Blog Section End -->
